<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'AscentFlowHub_web/css/base.css' %}">
    {% block title %}
    <title>AscentFlowHub</title>
    {% endblock %}
    <script src="{% static 'AscentFlowHub_web/js/notification_block.js' %}"></script>
    {% block js_scripts %}{% endblock %}
    {% block css_style %}{% endblock %}
</head>
<body>
    <div class="overlay {% if not modal_window %} hidden {% endif %}"></div>

    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <div class="modal-window {% if not modal_window %} hidden {% endif %}">
        {% block modal_window %}{% endblock %}
    </div>

    {% if messages %}
      <ul class="messages" id="notifications">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}></li>
        {% endfor %}
      </ul>
    {% endif %}
</body>
</html>