{% extends 'AscentFlowHub_web/base.html' %}
{% load static %}

{% block header %}
  {% include 'includes/header.html' %}
{% endblock %}

{% block css_style %}
  <link rel="stylesheet" href="{% static 'AscentFlowHub_web/css/my_progress.css' %}">
{% endblock %}

{% block js_scripts %}
  <script src="{% static 'AscentFlowHub_web/js/my_progress.js' %}"></script>
{% endblock %}

{% block content %}
  <h2 class="my-progress-title">Ваши сферы жизни:</h2>

  <section class="progress-section">
    <div class="edit-categories-menu">
      <button class="show-edit-categories-menu">&#8226&#8226&#8226</button>
      <div class="edit-categories-form-wrapper hidden">
        <form action="{% url 'my_progress_page_path' %}" method="post" id="edit-categories-form">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="edit_categories_form">
          <button class="edit-categories-button" type="button" id="add-category-btn">Добавить сферу</button>
          <button class="edit-categories-button" type="submit" name="button" value="edit">Изменить</button>
          <button class="edit-categories-button" type="button" id="delete-category-btn">Удалить</button>
        </form>
      </div>
    </div>
    {% if life_category_list %}
    {% for category in life_category_list %}
      <article class="progress-circle">
        <a href="{{ category.slug_name }}">
          <button class="button-delete-circle hidden" type="submit" form="edit-categories-form"
                  name="delete_category" value="{{ category.id }}">x</button>
          <div class="progress-circle-wrapper">
            <div class="inner-circle" style="height: {{ category.percent }}%; background: linear-gradient(to bottom,
             {{ category.first_color }}, {{ category.second_color }});"></div>
            <div class="progres-info-wrapper">
              <span class="percent">{{ category.percent }}%</span>
              <span class="text-below">{{ category.name }}</span>
            </div>
          </div>
        </a>
      </article>
    {% endfor %}
    {% else %}
      <p>У вас отсутствуют сферы жизни</p>
    {% endif %}
  </section>
{% endblock %}

{% block modal_window %}
  {% if not life_category_list %}
    <p class="modal-window-text">У ввс отсутствуют сферы жизни, хотите создать их в ручную или выбрать готовый шаблон?</p>
    <form action="{% url 'my_progress_page_path' %}" method="post" id="create-base-category-form">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="create_base_category_form">
      <button class="button-create-category" type="submit" name="button" value="create">Использовать готовые</button>
      <button class="button-skip-modal-window" type="submit" name="button" value="skip">Создать в ручную</button>
    </form>
  {% else %}
    <div id="form-container">
      <form action="{% url 'my_progress_page_path' %}" method="post" id="create-new-category-form">
        {% csrf_token %}
        {{ life_category_form.as_p }}
        <input type="hidden" name="form_type" value="create_new_category_form">
        <div id="colorPalette1">
          <input type="color" id="colorPicker1" value="#d6b8ff">
          <span>Первый цвет</span>
        </div>
        <div id="colorPalette2">
          <input type="color" id="colorPicker2" value="#e52e71">
          <span>Второй цвет</span>
        </div>
        <button type="submit" id="create-life-category-btn">Создать</button>
      </form>
      <article class="progress-circle" id="new-progress-circle">
        <div class="progress-circle-wrapper">
          <div class="inner-circle" style="height: 100%" id="color-new-circle"></div>
          <div class="progres-info-wrapper">
            <span class="percent">100%</span>
            <span class="text-below" id="name-new-circle"></span>
          </div>
        </div>
      </article>
    </div>
  {% endif %}
{% endblock %}
