{% extends 'AscentFlowHub_web/base.html' %}
{% load static %}

{% block header %}
  {% include 'includes/header.html' %}
{% endblock %}

{% block css_style %}
  <link rel="stylesheet" href="{% static 'AscentFlowHub_web/css/sphere_of_life.css' %}">
{% endblock %}

{% block js_scripts %}
  <script src="{% static 'AscentFlowHub_web/js/my_progres.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="progress-scale">
        <div class="progress-scale-color" style="background: linear-gradient(to left,
     {{ current_life_category.first_color }}, {{ current_life_category.second_color }});
      height: 100%; width: {{ current_life_category.percent }}%"></div>
        <div class="progress-scale-text-wrapper">
            <span class="progress-scale-title">{{ current_life_category.name }}</span>
            <span class="progress-scale-percent">{{ current_life_category.percent }}%</span>
        </div>
    </div>
    <section class="progress-wrapper">


        <div class="add-goal-block">
            <button class="add-goal-btn">+</button>
        </div>
        {% for goal in goals_list %}
            <article class="goal-block">
                <div class="goal-block-wrapper">
                    <div class="importance-marker marker-color{{goal.weight}}"></div>
                    <h3 class="goal-title">{{ goal.name }}</h3>
                    <button class="goal-show-description-btn">▼</button>
                    <button class="goal-show-edit-form">•••</button>

                    <div class="goal-description-block">
                        {% if goal.description %}
                        <p class="goal-description">{{ goal.description }}</p>
                        {% endif %}
                        <button class="add-sub-goal-btn">Добавить промежуточную цель</button>

                        {% for sub_goal in goal.sub_goals %}
                            <div class="sub-goal-block">
                                <a href="{% url 'sub_goal_page_path' sub_goal.id %}"><h4>---{{ sub_goal.name }}</h4></a>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}