.main-title-block {
    text-align: center;
    color: var(--second_font_color);
}

.main-title {
    margin-bottom: 0;
}

.main-title-text {
    margin-top: 7px
}

section.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.feature {
    text-align: center;
}

footer {
    border-top: 2px solid var(--accent_color);
    border-radius: 10px 10px 0 0;
    text-align: center;
    position: fixed;
    padding: 10px;
    width: 98.5%;
    bottom: 0;
}
