{% load static %}

{% block css_style %}
    <link rel="stylesheet" href="{% static 'AscentFlowHub_web/css/includes/header.css' %}">
{% endblock %}

{% block js_scripts %}
<script src="{% static 'AscentFlowHub_web/js/includes/header.js' %}"></script>
{% endblock %}

<header>
    <div class="block-header-bar">
      <ul>
        <li><a href="{% url 'index_page_path' %}">Главная</a></li>
        <li><a href="{% url 'my-progress_page_path' %}">Мой прогресс</a></li>
        <li><a href="">Сообщество</a></li>
      </ul>
    </div>
    {% include 'includes/user_menu.html' %}
</header>