{% extends 'frontend/base.html' %}
{% load static %}
{% load goal_tags %}

{% block header %}
  {% include 'includes/header.html' %}
{% endblock %}

{% block css_style %}
  <link rel="stylesheet" href="{% static 'frontend/css/sub_goal_page.css' %}">
{% endblock %}

{% block js_scripts %}
  <script src="{% static 'frontend/js/sub_goal_page.js' %}"></script>
{% endblock %}

{% block content %}
<div class="goal-block">
    <div class="goal-block-wrapper">
        <div class="importance-marker marker-color{{goal.weight}}"></div>
        <h3 class="goal-title">{{ goal.name }}</h3>
        <form method="post" action="" id="goal-form">
            {% csrf_token %}
            {% if goal.completed %}
                <button class="done-goal-btn" name="button" value="make_active">Сделать активной</button>
            {% else %}
                <button class="done-goal-btn" name="button" value="done">Выполнено</button>
                <button class="edit-goal-btn" name="button" value="edit">Изменить</button>
            {% endif %}
            <button class="delete-goal-btn" name="button" value="delete">Удалить</button>
            <input type="hidden" name="form_type" value="manage_goal_form">
        </form>
        <div class="goal-description-block">
            {% if goal.description %}
            <p class="goal-description">{{ goal.description }}</p>
            {% endif %}
            <button class="add-sub-goal-btn" data-goal-id="{{ goal.id }}">Добавить промежуточную цель</button>

            {% for sub_goal in goal.sub_goals %}
                <div class="sub-goal-block">
                    <h4>
                        <div class="checkbox-container">
                            <input type="checkbox" id="goal-checkbox-{{ sub_goal.id }}"
                                   name="checkbox" value="{{ sub_goal.id }}"
                                   form="checkbox-sub-goal-form">
                            <label for="goal-checkbox-{{ sub_goal.id }}"></label>
                        </div>
                        <a href="{% url 'sub_goal_page_path' sub_goal.id %}"
                           class="{% if sub_goal.completed %}strikethrough_text{% endif %}">— {{ sub_goal.name }}</a>
                    </h4>
                    {% draw_goal_branch user '' sub_goal.id %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="checkbox-sub-goal-form-wrapper hidden">
    <form method="post" action="" id="checkbox-sub-goal-form">
        {% csrf_token %}
        <button title="В архив" class="done-sub-goal-btn" name="button" value="done">Выполнено</button>
        <button name="button" value="make_active">Сделать активной</button>
        <button class="edit-sub-goal-btn" name="button" value="edit">Изменить</button>
        <button title="Удалить" class="delete-sub-goal-btn" name="button" value="delete">Удалить</button>
        <input type="hidden" name="form_type" value="checkbox_form">
    </form>
</div>
{% endblock %}

{% block modal_window %}
    <form action="" method="post" id="create-new-goal-form">
        {% csrf_token %}
        {{ new_goal_form.as_p }}
        <input type="hidden" name="form_type" value="new_goal_from">
        <input type="hidden" name="parent_id" value="" id="parent_id_input">
        <button type="submit">Добавить</button>
    </form>
{% endblock %}